.product-card {
  position: relative;
  width: 20rem;
}

.product-card__img--container {
  background-color: #f1d9d0;
  padding: 1.6rem 2.4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.product-card__cta {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #efc7b8;
  border: none;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-card__cta--icon {
  width: 1.8rem;
  height: 1.8rem;
}

.product-card__details {
  margin-top: 1.6rem;
  padding: 0 0.5rem;
}

.product-card__heading {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.product-card__sub {
  font-size: 1.6rem;
  margin-top: 0.3rem;
}

.product-card__rating {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
}

.product-card__rating--number {
  font-size: 1.2rem;
  padding-left: 0.8rem;
}

.product-card__btn {
  padding: 0.8rem 2rem;
  border: 1px solid #8c4a3b;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #8c4a3b;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 1.6rem;
}

@media only screen and (max-width: 360px) {
  .product-card {
    width: 17rem;
  }
}

@media only screen and (min-width: 768px) {
  .product-card {
    width: 25rem;
  }

  .product-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .product-card {
    width: 25rem;
  }

  .product-card__img {
    width: 14rem;
    height: 14rem;
  }

  .product-card__cta {
    width: 4rem;
    height: 4rem;
  }

  .product-card__cta--icon {
    width: 2rem;
    height: 2rem;
  }

  .product-card__details {
    margin-bottom: 1.2rem;
  }

  .product-card__heading {
    font-size: 2.2rem;
  }

  .product-card__sub {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }

  .product-card__btn {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  }

  .product-card__btn:hover {
    background-color: #8c4a3b;
    color: #d9ccc7;
  }
}
